nav {
  margin-left: auto;
  width: fit-content;
  .hamburger-react {
    position: absolute !important;
    top: 25px;
    right: 25px;
    color: #fff;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-height: 30vh;
    background-color: #000;
    transition: transform 1s;
    transform: translateX(100%);
    li {
      padding-inline: 0.5em;
      cursor: pointer;
      button {
        padding-inline: .5em;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 2rem;
        font-family: "Bebas Neue", sans-serif;
        text-decoration: none;
        transition: 0.5s;

        &:hover {        
          color: #000;
          background-color: #fff;
        }
      }
    }
  }

  .show-nav-list {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  nav {
    ul {
      li {
        button {
          font-size: 2.5rem;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  nav {
    .hamburger-react {
      display: none;
    }
    ul {
      flex-direction: row;
      gap: 30px;
      width: fit-content;
      min-height: inherit;
      margin-right: 2em;
      transform: none;
      li {
        button {
          font-size: 2.5rem;
        }
      }
    }
  }
}
