@mixin bg-balls {
  position: absolute;
  top: -10%;
  left: 50%;
  right: 0;
  bottom: -10%;
  background-image: url("../../utilities/images/colorfull-balls.png");
  background-size: 150%;
  z-index: -1;

  @media (min-width: 992px) {
    background-size: 80%;
  }
  @media (min-width: 1400px) {
    background-size: 70%;
  }
  @media (min-width: 1800px) {
    background-size: 50%;
  }
}
